body {
    padding:0;
    margin:0;
    background:var(--main-color);
    color:white;
}

:root{
    accent-color:var(--bg-color);
}

.theme-1 {
    --key-color: hsl(30, 25%, 89%);
    --alt-key-color:hsl(221, 31%, 44%);
    --main-color: hsl(222, 26%, 31%);
    --bg-color: hsl(223, 31%, 20%);
    --alert-color: hsl(6, 63%, 50%);
    --text-color: hsl(221, 14%, 31%);
    --light-text: hsl(0, 0, 100%);
    --key-shadow: hsl(28, 16%, 65%);
    --alt-key-shadow: hsl(224, 28%, 35%);
    --alert-k-shadow:hsl(6, 70%, 34%);
    --input-bg-color: hsl(224, 36%, 15%);
 
}

.theme-2 {
    --key-color: hsl(45, 7%, 89%);
    --alt-key-color: hsl(185, 42%, 37%);
    --main-color: hsl(45, 7%, 89%);
    --bg-color: hsl(0, 5%, 81%);
    --alert-color: hsl(25, 98%, 40%);
    --text-color: hsl(60, 10%, 19%);
    --light-text: rgb(118, 114, 114);
    --key-shadow: hsl(180, 2%, 58%);
    --alt-key-shadow: hsl(224, 28%, 35%);
    --alert-k-shadow:hsl(6, 70%, 34%);
    --input-bg-color:rgb(246, 241, 241);
}

.theme-3 {
    --key-color: hsl(30, 25%, 89%);
    --main-color: hsl(222, 26%, 31%);
    --bg-color: hsl(224, 36%, 15%);
    --alert-color: hsl(6, 63%, 50%);
    --text-color: hsl(221, 14%, 31%);
    --light-text: hsl(0, 0, 100%);
    --key-shadow: hsl(28, 16%, 65%);
}

.container {
    margin-top: 50px;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
}

h1 {
    color:var(--light-text);
    text-align: center;
}

form {
    background-color: var(--bg-color);
    border-radius:50px;
}
/* label {
    color:var(--light-text);
} */

#calc-theme {
    color:var(--light-text);
    width:330px;
    margin:auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.switch {
    display:flex;
    align-items: center;
}
.switch p {
    font-size: x-small;
    margin-right: 3px;
}

#form {
    display: flex;
    font-size: x-small;
}

.theme {
    display: flex;
    flex-direction: column;
}


input [type="radio"] {
    height: 5px;
    -webkit-appearance : none;
    appearance: none;
    border-style: none;
    outline-style: none;
    border-color: var(--bg-color);
    background-color: var(--bg-color);
    color:var(--bg-color)
}

input[type="radio"]:focus {
    color:var(--alert-color);
    text-decoration: none;
    border-width: 0;
    border-style: none;
    outline: 0;
}

input[type="radio"]:checked {
    accent-color: var(--alert-color);
}
    
.calculator {
    width:340px;
    border-radius: 5px;
    margin:auto;
    text-align:center;
    background:var(--bg-color);
    border-style: none;
    padding-bottom: 15px;
    }
    
#input {
    font-size:40px;
    font-family: 'League Spartan', sans-serif;
    font-weight:500;
    border-radius: 5px;
    color:var(--light-text);
    text-align:right;
    width:318px;
    margin:auto;
    height: 70px;
    background:var(--input-bg-color);
    border-style: none;
    padding-right: 20px;
}
    
.btns {
    margin-top: 15px;
    width:100%;
    padding-top: 15px;
    margin-bottom: 5px;
}

.btns button {
    border:none;
    outline:none;
    width:19%;
    height:40px;
    font-family: 'League Spartan', sans-serif;
    font-size:1.5rem;
    font-weight:700;
    color:var(--text-color);
    vertical-align:middle;
    border-radius:7px;
    border-bottom-style: outset;
    border-color: var(--key-shadow);
    background:var(--key-color);
    display:inline-block;
    margin: 5px;
    padding-top: 7px;
}

.large-btn button{
    border:none;
    outline:none;
    width:42%;
    height: 0px;
    font-family: 'League Spartan', sans-serif;
    font-size:1.5rem;
    color:white;
    border-radius:7px;
    border-bottom-style: outset;
    vertical-align:middle;
    display:inline-block;
    padding-top: 5px;
    margin:5px;
}

#del, #reset {
    background-color: var(--alt-key-color);
    color:white;
    height:40px;
    font-size: small;
    border-color: var(--alt-key-shadow);
    border-bottom-style: outset;
    }

button#exe {
    background-color: var(--alert-color);
    height: 40px;
    font-weight: bold;
    align-content: center; 
    border-bottom-style: outset;
    border-color: var(--alert-k-shadow);
}

.attribution {
    position: absolute;
    bottom: 10px;
    color:var(--light-text);
    margin: auto;

}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 375px) {
    
    }